fastapi==0.115.4
Flask==3.0.3
language_data==1.2.0
numpy==2.0.2
packaging==24.1
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
uvicorn==0.32.0
langchain 
langchain_groq
mlflow
python-dotenv